body{
    margin: 20px;
    font-family: sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: blue;
}

.container{
    min-width: 550px;
    margin: 0 auto;
    position: relative;
    min-height: 500px;
}


/* header */
header{
    height: 10vh;
}

header div > * {
    padding: 10px;
}

header div:first-of-type {
    float: left;
}

header div:last-of-type {
    float: right;
}

.sign-in {
    
    border: 1px solid black;
}


/* section */
section{
   height: 80vh;

}

.section-div {
    width: 500px;
    margin: 0 auto;
    position: relative;
    top: 20%;
}

.logo {
    display: block;
    width: 270px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.logo img{
    width: 100%;
}

form > * {
    display: block;
}

#search{
    width: 100%;
    padding: 15px;
}

.voice {
    float: right;
    position: relative;
    bottom: 35px;
    right: 20px;
}

#btn1{
    position: relative;
    left: 110px;
}

#btn2{
    float: right;
    position: relative;
    right: 90px;
}

.btn{
    margin-top: 40px;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}


/* footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer div > * {
    padding: 10px;
}

footer div:first-of-type {
    float: left;
}

footer div:last-of-type {
    float: right;
}
